input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    font-size: 15px;
    padding: 0;
}

input[type="password"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"]:focus,
input[type="password"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.selectedCollection {
    font-weight: bold;
}

