<h3 class="text-center" style="font-family: sans-serif;font-style: oblique">Mongo Browser</h3>
<div class="panel-body" style="background-color: powderblue">
    <div class="row">
         <div class="col-lg-4">
        <form>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label>User Name:</label><br>
                   <input type="text" class="form-control input-sm focus" ng-model="formData.username">
                </div>
                <div class="col-lg-6 form-group">
                    <label>Password:</label><br>
                    <input type="password" class="form-control input-sm focus" ng-model="formData.password" >
                </div>
            </div>
            <div class="row">

                <div class="form-group col-lg-6">
                    <label>Host:</label><br>
                    <input type="text" class="form-control input-sm focus" required ng-model="formData.host">
                </div>
                <div class="form-group col-lg-6">
                    <label>Port:</label><br>
                    <input type="text" class="form-control input-sm focus" required ng-model="formData.port">
                </div>
                <!--<div class="form-group col-lg-4">
                    Database:<br>
                    <input type="text" class="form-control input-sm" required ng-model="formData.dbname">
                </div>-->
            </div>

            <div class="row">
                <div class="form-group col-lg-6">

                    <label>Database <b style="color: limegreen"> ({{numberofdatabases}})</b> :</label><br>
                    <!--<div ng-repeat="db in databases" style="white-space: nowrap">
                        <input type="radio" name="db" title="Select Database" ng-model="formData.dbname" ng-value="db.name" ng-click="connectToMongo()"> {{db.name}}
                    </div>-->
                    <select ng-change="getCollections()" class="col-lg-12 " ng-model="formData.dbname"  ng-value="db.name">
                        <option ng-repeat="db in databases">{{db.name}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">

                    <label>Database:</label><br>
                    <input type="text" class="form-control input-sm focus" required ng-model="formData.dbname">

                </div>
                <div class="form-group col-lg-3">

                    <label>Collection:</label><br>
                    <input type="text" class="form-control input-sm focus"  ng-model="formData.collectionname">
                </div>
            </div>
            <div class="row">

                <div class="form-group col-lg-9">

                    <label>Output Folder Location</label><br>
                    <input type="text" class="form-control input-sm focus" required ng-model="formData.outputLocation">
                </div>
                <div class="form-group col-lg-3">
                    <br>
                    <button type="submit" class="btn btn-success" ng-click="createBackup()">Backup</button>

                </div>
            </div>
        <div id="todo-form" class="row">
                    <div class="form-group col-lg-12">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <textarea ng-disabled="connectionstatus!=true" style="max-width: 400px;height: 260px;background-color: seashell" type="text" placeholder="Enter Query" class="form-control input-lg" ng-model="formData.text"></textarea>
                    </div>

            <div class="col-lg-offset-1">
                    <button type="submit" class="btn btn-success" ng-click="connectToMongo()">Connect</button>
                    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-if="connectionstatus==true">Find</button>
                    <button type="submit" class="btn btn-danger" ng-click="executeAsItIs()" ng-if="connectionstatus==true">Execute</button>
<!--
                    <button type="submit" class="btn btn-danger" ng-click="getDatabases()">Get DB</button>
-->


                <label  ng-show="connectionstatus==true" style="color: green" class="glyphicon glyphicon-ok pull-right">Connected</label>
                <label ng-show="connectionstatus==false" style="color: red" class="glyphicon glyphicon-remove pull-right" >Failed</label>
            </div>
        </div>
        </form>

         </div>

        <div class="col-lg-3" style="max-width:350px;max-height:580px;overflow: auto">
            <label>List of Collections <b style="color: limegreen"> ({{numberofcollections}}) :</b></label><br>
            <div ng-repeat="collection in collections" style="white-space: nowrap">
               <label ng-class="{'glyphicon glyphicon-record selectedCollection' : $index==selectedId,'glyphicon glyphicon-record ':$index!=selectedId}" ng-click="setCollectionName(collection,$index)" title="Click to find collections" style="cursor: pointer"> {{collection}}</label>
            </div>
        </div>
 <!--       <div class="col-lg-3" >
            <label>Database ({{numberofdatabases}}) :</label><br>
            &lt;!&ndash;<div ng-repeat="db in databases" style="white-space: nowrap">
                <input type="radio" name="db" title="Select Database" ng-model="formData.dbname" ng-value="db.name" ng-click="connectToMongo()"> {{db.name}}
            </div>&ndash;&gt;
            <select ng-model="formData.dbname" ng-change="connectToMongo()" style="min-width: 100px">
                <option ng-repeat="db in databases">{{db.name}}</option>
            </select>
        </div>-->
       <div class="col-lg-5">
           <label>Count : <b style="color: limegreen">{{totalRecords}}</b></label>  <button class="pull-right btn btn-primary"  ng-click="showjson=!showjson">
           <label ng-if="showjson">Tree</label>
           <label ng-if="!showjson">JSON</label>
       </button>
           <br/><br/>
        <div style="border-left: solid #000000;min-height: 500px;max-height: 500px;max-width:500px;background-color: seashell;overflow-x: auto;overflow-y: auto">

            <br>
            <img src="../../../icon/495.GIF" ng-show="startloader" style="margin: 43%">
            <pre style="overflow-x: scroll;max-width: 500px"  ng-if="isdataloaded && showjson">{{jsondata | json}}</pre>
            <json-tree ng-if="isdataloaded && !showjson" object="jsondata" start-expanded="true"></json-tree>
            <label ng-if="!isdataloaded && startloader == 'false'">No data to show</label>

        </div>
       </div>

        <div class="pull-right" ng-show="isdataloaded" style="padding-right: 30px"><a href title="First" class="icon-fast-backward" data-ng-click="getFirstPage()" ng-disabled="{{currentPage==1}}">First</a> <a href title="Previous" class="icon-double-angle-left" data-ng-click="getPrevPage()" ng-disabled="{{currentPage<=1}}">Previous</a>  Page {{currentPage}} Of {{totalPage}}  <a href title="Next" class="icon-double-angle-right" data-ng-click="getNextPage()" ng-disabled="{{currentPage>=totalPage}}">Next</a> <a href title="Last" class="icon-fast-forward" data-ng-click="getLastPage()" ng-disabled="{{currentPage==totalPage}}">Last</a>
        </div>

    </div>
</div>


        <!--This is added just to check the git branch workflow-->